.form-group {
    color: white;
  }

  li {
    list-style: none;
  }

.index-head {
  text-align: center; ;
}

h2 {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 60px;
}
  
body {
  color: white;
}

.create-new {
  text-shadow: 0px 2px 15px #680202;
}

.back-to-list {
  text-shadow: 0px 2px 15px white;
}
